.form__item:last-of-type {
  margin-bottom: 0;
}

.form__item {
  all: unset;
  margin-bottom: 30px;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}
